body {background-color: #252a35;}

    
#Live13 {width: 40%;
    border: 5px solid #555;
}


#Dan_Heng {width: 40%;
    border: 5px solid #555;
}


#ATK_BASIC {width: 30%;
    border: 5px solid #555;
}


#pericia {width: 30%;
    border: 5px solid #555;
}


#ATK_1 {width: 30%;
    border: 5px solid #555;
}


#ATK_2 {width: 30%;
    border: 5px solid #555;
}


#ATK_3 {width: 30%;
    border: 5px solid #555;
}